<script data-id='chatbox'>
    var _chatbot = {};
    _chatbot.key = "jjk3jk4j3f0e94kofmk5k5r9";
      window.addEventListener("load", (event) => {
          c = document.createElement("script");
          s = document.getElementsByTagName("script")[0];
          b = document.body;
          c.type = "text/javascript";
          c.charset = "utf-8";
          c.async = true;
          c.src = "http://172.22.9.33:8000/static/chatbox/static/loader.js";
          s.parentNode.insertBefore(c,s);         

      });
      </script>